<h1>投稿一覧</h1>
<% @lists.each do |list| %>
 <!--コントローラで記述したインスタンス変数@listsが登場。-->
 <!--eachメソッド：配列やハッシュがもつ要素を順番に取得して処理を実行したいときに使う。-->
 <!--@lists.each と記述することで、Listレコードの数だけ繰り返し処理を行う。 -->

  <p>タイトル</p>
  <span><%= list.title %></span>
 <!--各レコードの内容は、listという変数に格納される。-->
 <!--list.[カラム名]と記述することで、レコードのカラムの内容が表示される。-->

<% end %>